
.addMore{
width: 177px;
    height: 145px;
    left: 275px;
    padding-top: 0;
    background: #C4C4C4;
    display: inline-block;
    vertical-align: text-bottom;
}
.add-box{
    // position: absolute;
    cursor: pointer;
    width: 177px;
    height: 175px;
    left: 275px;
    top: 138px;
    display: inline-block;
    background: #C4C4C4;
    vertical-align: bottom;
    margin-bottom: 24px;

}
.plus{
    // position: absolute;
width: 166px;
height: 24px;
left: 286px;
top: 199px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #000000;
}

.add-title{
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    // margin-top: 47px;
}
.add_main{
        margin-top: 30%;
}
.back{
    // position: absolute;
width: 17.16px;
height: 5px;
left: 91.47px;
top: 90.46px;

background: #000000;
transform: rotate(133.74deg);
}